In [ ]:
import json

import pandas as pd
from pandas import json_normalize
import datetime

with open("./data2.json") as f:
    json_data = json.load(f)["classes"]

df = pd.DataFrame(json_data)
df = df[
    ["crse_id", "class_section", "enrollment_total", "instruction_mode", "strm", "subject", "subject_descr", "meetings"]
]

df = df.explode("meetings")
meetings = json_normalize(df["meetings"])
meetings = meetings[["days", "start_time", "end_time"]]
df = df.drop(columns=["meetings"]).reset_index(drop=True)
df = pd.concat([df, meetings], axis=1)

df = df[df.days != "TBA"]

df.start_time = pd.to_datetime(df.start_time, format="%H.%M.%S.000000").dt.time
df.end_time = pd.to_datetime(df.end_time, format="%H.%M.%S.000000").dt.time

df.rename(inplace=True, columns={
    "crse_id": "courseId",
    "class_section": "sectionCode",
    "strm": "termId",
})

# min_time = pd.Timestamp(df.start_time.min().strftime("%H:%M:%S"))
# max_time = pd.Timestamp(df.end_time.max().strftime("%H:%M:%S"))
# time_range = pd.date_range(min_time, max_time, freq="1min").time
# timeSlotTable = pd.DataFrame(time_range).rename(columns={0: "time"})

# termTable = pd.DataFrame(df.strm.unique())
# weekdayTable = pd.DataFrame(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]).rename(columns={0: "weekday"})

# weekday_mapping = {"Mo": 1, "Tu": 2, "We": 3, "Th": 4, "Fr": 5}

# courseTable = df[["crse_id", "subject"]].drop_duplicates().rename(columns={"crse_id": "courseId", "subject": "major"})
# sessionTable = df[["crse_id", "strm", "class_section", "instruction_mode"]].reset_index(drop=True).rename(columns= {"crse_id": "courseId", "strm": "termId", "class_section": "section", "instruction_mode": "instructionMode"})

# occupancyTable = pd.DataFrame()
# for index, row in df.iterrows():
#     start_time = pd.Timestamp(row.start_time.strftime("%H:%M:%S"))
#     end_time = pd.Timestamp(row.end_time.strftime("%H:%M:%S"))  
#     time_index = pd.date_range(start_time, end_time, freq="1min").time

#     for weekday in ["Mo", "Tu", "We", "Th", "Fr"]:
#         if weekday not in row["days"]:
#             continue
#         occSubTable = pd.DataFrame()
#         occSubTable["time"] = time_index
#         occSubTable["sessionId"] = row["strm"]
#         occSubTable["courseId"] = row["crse_id"]
#         occSubTable["weekdayId"] = weekday_mapping[weekday]
#         occSubTable["studentCount"] = row["enrollment_total"]
#         occSubTable["timeSlotId"] = timeSlotTable[timeSlotTable["time"].isin(time_index)].index
#         occupancyTable = pd.concat([occupancyTable, occSubTable])


# display(occupancyTable)

display(df)
# df.to_csv("data.csv", index=False)

,courseId,class_section,enrollment_total,instruction_mode,strm,subject,subject_descr,days,start_time,end_time
4,000014,01,51,P,2252,ABUS,Agricultural Business,TuTh,11:00:00,12:15:00
5,000014,02,51,P,2252,ABUS,Agricultural Business,TuTh,09:30:00,10:45:00
6,000025,01,24,P,2252,ABUS,Agricultural Business,TuTh,11:00:00,12:15:00
7,000025,02,18,P,2252,ABUS,Agricultural Business,MoWe,14:30:00,15:45:00
8,000025,03,23,P,2252,ABUS,Agricultural Business,MoWe,11:00:00,12:15:00
...,...,...,...,...,...,...,...,...,...,...
93,000206,03,18,P,2252,AGRI,Agriculture,Mo,14:00:00,16:50:00
98,022587,01,21,P,2252,AGRI,Agriculture,TuTh,08:00:00,09:15:00
101,000229,03,13,P,2252,AGRI,Agriculture,MoWe,09:00:00,10:15:00
102,000229,04,30,P,2252,AGRI,Agriculture,MoWe,11:00:00,12:15:00
103,000223,01,75,P,2252,AGRI,Agriculture,TuTh,12:30:00,13:45:00