In [13]:
import json

import pandas as pd
from pandas import json_normalize
import datetime

pd.set_option('display.max_colwidth', None)

with open("./data.json") as f:
    json_data = json.load(f)["classes"]

df = pd.DataFrame(json_data)
test_df = df.sort_values(["crse_id", "strm", "class_section"])
test_df = test_df[["crse_id", "strm", "class_section", "meetings"]]
display(test_df)
df = df[
    ["crse_id", "class_section", "enrollment_total", "instruction_mode", "strm", "subject", "subject_descr", "meetings"]
]

df = df.explode("meetings")
meetings = json_normalize(df["meetings"])
meetings = meetings[["days", "start_time", "end_time"]]
df = df.drop(columns=["meetings"]).reset_index(drop=True)
df = pd.concat([df, meetings], axis=1)

df = df[df.days != "TBA"]

df.start_time = pd.to_datetime(df.start_time, format="%H.%M.%S.000000").dt.time
df.end_time = pd.to_datetime(df.end_time, format="%H.%M.%S.000000").dt.time

df.rename(inplace=True, columns={
    "crse_id": "courseId",
    "class_section": "sectionCode",
    "strm": "termId",
})

df.reset_index(inplace=True, drop=True)

# display(df)

,crse_id,strm,class_section,meetings
1,002281,2252,01,"[{'days': 'MoWeFr', 'start_time': '11.00.00.000000', 'end_time': '11.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'LANG', 'bldg_has_coordinates': True, 'facility_descr': 'Langdon Engineering Center 302', 'room': '302', 'facility_id': 'LANG302', 'instructor': 'Michael Larson, -, -, -, -'}]"
2,002281,2252,02,"[{'days': 'MoWe', 'start_time': '12.00.00.000000', 'end_time': '12.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 251', 'room': '251', 'facility_id': 'OCNL251', 'instructor': 'Michael Larson'}]"
3,002281,2252,03,"[{'days': 'MoWe', 'start_time': '13.00.00.000000', 'end_time': '13.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 251', 'room': '251', 'facility_id': 'OCNL251', 'instructor': 'Michael Larson'}]"
4,002281,2252,04,"[{'days': 'TuTh', 'start_time': '14.00.00.000000', 'end_time': '15.15.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 254', 'room': '254', 'facility_id': 'OCNL254', 'instructor': 'James Krepelka, -, -, -'}]"
5,002281,2252,05,"[{'days': 'TuTh', 'start_time': '13.00.00.000000', 'end_time': '13.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 251', 'room': '251', 'facility_id': 'OCNL251', 'instructor': 'James Krepelka'}]"
...,...,...,...,...
41,022275,2252,02,"[{'days': 'MoWe', 'start_time': '15.00.00.000000', 'end_time': '15.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 239', 'room': '239', 'facility_id': 'OCNL239', 'instructor': 'Jaime Raigoza'}]"
52,022279,2252,01,"[{'days': 'MoWe', 'start_time': '12.00.00.000000', 'end_time': '12.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'LANG', 'bldg_has_coordinates': True, 'facility_descr': 'Langdon Engineering Center 106', 'room': '106', 'facility_id': 'LANG106', 'instructor': 'Sam Siewert'}]"
53,022279,2252,02,"[{'days': 'MoWe', 'start_time': '13.00.00.000000', 'end_time': '13.50.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'OCNL', 'bldg_has_coordinates': True, 'facility_descr': 'O'Connell Center 244', 'room': '244', 'facility_id': 'OCNL244', 'instructor': 'Sam Siewert'}]"
56,022536,2252,01,"[{'days': 'MoWe', 'start_time': '16.00.00.000000', 'end_time': '17.15.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'LANG', 'bldg_has_coordinates': True, 'facility_descr': 'Langdon Engineering Center 104', 'room': '104', 'facility_id': 'LANG104', 'instructor': 'Bryan Dixon'}]"
25,022545,2252,01,"[{'days': 'TuTh', 'start_time': '09.30.00.000000', 'end_time': '10.45.00.000000', 'start_dt': '01/21/2025', 'end_dt': '05/16/2025', 'bldg_cd': 'LANG', 'bldg_has_coordinates': True, 'facility_descr': 'Langdon Engineering Center 303', 'room': '303', 'facility_id': 'LANG303', 'instructor': 'Abbas Attarwala'}]"

In [ ]:

# min_time = pd.Timestamp(df.start_time.min().strftime("%H:%M:%S"))
# max_time = pd.Timestamp(df.end_time.max().strftime("%H:%M:%S"))
# time_range = pd.date_range(min_time, max_time, freq="1min").time
# timeSlotTable = pd.DataFrame(time_range).rename(columns={0: "time"})

# termTable = pd.DataFrame(df.strm.unique())
# weekdayTable = pd.DataFrame(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]).rename(columns={0: "weekday"})

# weekday_mapping = {"Mo": 1, "Tu": 2, "We": 3, "Th": 4, "Fr": 5}

# courseTable = df[["crse_id", "subject"]].drop_duplicates().rename(columns={"crse_id": "courseId", "subject": "major"})
# sessionTable = df[["crse_id", "strm", "class_section", "instruction_mode"]].reset_index(drop=True).rename(columns= {"crse_id": "courseId", "strm": "termId", "class_section": "section", "instruction_mode": "instructionMode"})

# occupancyTable = pd.DataFrame()
# for index, row in df.iterrows():
#     start_time = pd.Timestamp(row.start_time.strftime("%H:%M:%S"))
#     end_time = pd.Timestamp(row.end_time.strftime("%H:%M:%S"))  
#     time_index = pd.date_range(start_time, end_time, freq="1min").time

#     for weekday in ["Mo", "Tu", "We", "Th", "Fr"]:
#         if weekday not in row["days"]:
#             continue
#         occSubTable = pd.DataFrame()
#         occSubTable["time"] = time_index
#         occSubTable["sessionId"] = row["strm"]
#         occSubTable["courseId"] = row["crse_id"]
#         occSubTable["weekdayId"] = weekday_mapping[weekday]
#         occSubTable["studentCount"] = row["enrollment_total"]
#         occSubTable["timeSlotId"] = timeSlotTable[timeSlotTable["time"].isin(time_index)].index
#         occupancyTable = pd.concat([occupancyTable, occSubTable])


# display(occupancyTable)

display(df)
# df.to_csv("data.csv", index=False)